body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
}

.sidebar {
    width: 330px;
}

.sidebar .nav-item {
    cursor: pointer;
    font-size: 14px;
}

.sidebar .nav-item.active {
    font-weight: bold;
    color: #0d6efd;
}

.table td, .table th {
    vertical-align: middle;
}

.badge {
    font-size: 0.75rem;
    padding: 0.4em 0.6em;
}
.nav-link:hover {
    color: #0d6efd;
    text-decoration: none;
}
