{% extends "base.html" %}

{% block title %}Patient Check-Out{% endblock %}

{% block content %}
    
    <div class="d-flex">
        
        <nav class="sidebar text-white p-3 vh-100" style="background-color: #007b7f;">
            <h1 class="mb-4">Check-Out Patient</h1>
            <h5 class="mb-4">Menu</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{{url_for('adminp')}}" class ="nav-link text-white"><i class="fas fa-users me-2"></i> All Patients</a>
                <li class="nav-item mb-2">
                    <a href="{{ url_for('checkin_page') }}" class="nav-link text-white">
                        <i class="fas fa-calendar-alt me-2"></i> Check In
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{{ url_for('checkout_page') }}" class="nav-link text-white">
                        <i class="fas fa-calendar-alt me-2"></i> Check Out
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{{ url_for('patreg') }}" class="nav-link text-white">
                        <i class="fas fa-calendar-alt me-2"></i> New Patient
                    </a>
                </li>
            </ul>
        </nav>
    
    <div class="container-fluid p-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Patients List</h2>
            <div class="w-50">
                <label class="form-label">Search for a Patient</label>
                <input type="text" id="searchInput" class="form-control" placeholder="Enter patient name or address">
            </div>
        </div>

        <table class="table table-bordered align-middle shadow-sm">
            <thead class="table-light">
                
                <tr>
                    <th>Patient ID</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Department</th>
                    <th>Check-Out Time</th>
                   
                </tr>
            </thead>
            <tbody id="resultsBody">
                    {% for checkin_record, patient in patients %}
                    <tr>
                        <td>{{ patient.id }}</td>
                        <td>{{ patient.name }}</td>
                        <td>{{ patient.gender }}</td>
                        <td>{{ patient.age }}</td>
                        <td>{{ patient.department }}</td>
                        <td>{{ checkin_record.check_out_time }}</td>
                        <!-- <td>{{ checkin_record.notes or 'N/A' }}</td> -->
                        <!-- <td> <form action="{{ url_for('checkout_page') }}" method="POST" style="display:inline;">
                            <input type="hidden" name="patient_id" value="{{ patient.id }}">
                            <button type="submit" class="btn btn-primary btn-sm">Check Out</button>
                            </form> -->
                        </td>
                    </tr>
                    {% endfor %}
                    
            
            </tbody>
        </table>
    </div>
</div>
<script>
    window.addEventListener('pageshow', function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    });
</script>
{% endblock %}
