{% extends "base.html" %}

{% block title %}Drugs History{% endblock %}

{% block content %}
<h1>Drugs History</h1>
<div class="container-fluid p-4">
    <table class="table table-bordered align-middle shadow-sm">
        <thead class="table-light">
            <tr>
                <th>Drug ID</th>
                <th>Patient Name</th>
                <th>Drug Name</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody id="resultsBody">
            {% for history, patient, drug in drugs %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.name }}</td>
                <td>{{ drug.name }}</td>
                <td>{{ history.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-3">
        <a href="{{ url_for('medp') }}" class="btn btn-secondary">Back to Medical Page</a>
    </div>
</div>
{% endblock %}
